[advisories]
version = 2

[licenses]
version = 2
allow = [
    "MIT",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "Unicode-3.0",
    "MPL-2.0",
    "OpenSSL",
]

[bans]
multiple-versions = "warn"
wildcards = "deny"
deny = [{ name = "openssl" }, { name = "openssl-sys" }]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
